[submodule "submodules/dircolors-solarized"]
	path = submodules/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
	shallow = true
[submodule "submodules/tmux"]
	path = submodules/tmux
	url = https://github.com/reveriel/.tmux.git
	shallow = true
